<h3><center>Welcome to Secure Social Media System.</center></h3>

<% if false %>

<%if current_user %>

<b><%= link_to 'To your home', profiles_path %></b>

<% else %>

Please log in.

<%end%>

<% end %>
