<p>
	Please scan this code with your Google Authenticator Smartphone App to allow secure login.
</p>
<p>
	<center>
		<%= image_tag(flash[:qrcode])%>
	</center>
</p>
<p>
	<%= link_to "Finish", log_in_path %>
</p>
