/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;
}

.globalBorder {
	background-color: #c7ffbe;
	border-width: 1px;
	border-style: solid;
	border-color: #009f00;
	min-height: 500px;
}

a:link {
	color: #0c5800;
	text-decoration: none;
}
a:visited {
	color: #0c5800;
	text-decoration: none;
}
a:active {
	color: #1ed400;
	text-decoration: none;
}
a:hover {
	color: #1ed400;
	text-decoration: none;
}

.header {
	height:40px;
	border-style: transparent;
}

.menuArea {
	width: 200px;
	padding: 5px;
	border-style: transparent;
	background-color: #b3ffa6;
	float:left;
}

.contentArea {
	float: left;
	padding: 5px;
}

img.profilepic {
	border-width: 1px;
	border-style: solid;
	border-color: #009f00;
}

.menu {
	width: 150px;
	background-color: #b3ffa6;
	border-width: 1px;
	border-style: solid;
	border-color: #009f00;
}

div.collapsable_initOpen {
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #009f00;
}

div.collapsable_initClosed {
	display: none;
	border-width: 1px;
	border-style: solid;
	border-color: #009f00;
}
